body{

}
.parent{
    align-items: center;
    display: flex;
}
.enfant{
    
    align-items: center;
    display: flex;
    justify-content: center;
}
.enfant2{
    background-color: beige;
    display: flex;
    border: 2px;
    flex-direction: column;

}
.heart{
    color: red;
}
main{
    
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: auto;
}
.btn{
    display: flex;
    justify-content: space-around;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 125px;
    height: 150px;
}